# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code
.vscode/

# IDE - Eclipse
.classpath
.project
.settings/
.factorypath

# IDE - NetBeans
nb-configuration.xml
nbactions.xml
nbproject/

# OS and Temporary files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak


cmd.txt
SmartCampusAPI/src/main/java/com/smartcampus/smartcampusapi/resource/DebugResource.java